<div class="main" style="background-color: white; min-height: 60vh; padding: 3rem;">

	<div>
		<button mat-button>Click me!</button>
		<button mat-raised-button>Click me!</button>
		<button mat-flat-button>Click me!</button>
		<button mat-stroked-button>Click me!</button>
	</div>

	<div>
		<button mat-icon-button>Icon</button>
		<button mat-fab>Icon</button>
		<button mat-mini-fab>Icon</button>
	</div>

	<div>
		<button color="primary" mat-button>Click me!</button>
		<button color="accent" mat-button>Click me!</button>
		<button color="warn" mat-button>Click me!</button>
	</div>

	<div>
		<button color="primary" mat-raised-button>Click me!</button>
		<button color="accent" mat-raised-button>Click me!</button>
		<button color="warn" mat-raised-button>Click me!</button>
	</div>

	<div>
		<mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
			<mat-button-toggle value="angular">
				Angular
			</mat-button-toggle>
			<mat-button-toggle value="react">
				React
			</mat-button-toggle>
			<mat-button-toggle value="vue">
				Vue
			</mat-button-toggle>
		</mat-button-toggle-group>
		{{ toggleGroup.value }}
	</div>

	

</div>

